#ten1{
    background-image: url(../image/BE.png);
}
#ten2{
    background-image: url(../image/bsc.png);
}
#ten3{
    background-image: url(../image/Medical.jpg);
}
#ten4{
    background-image: url(../image/commerce.png);
}
#ten5{
    background-image: url(../image/menegenent.png);
}
#ten6{
    background-image: url(../image/nevberimg.jpg);
}